.App {
  text-align: center;
}

body {
  background-image: url('https://wallpapercave.com/wp/wp2770503.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff !important;
}

.header-container {
  margin-top: 10px !important;
  padding: 10px;
  background: rgba(0, 0, 0, .6);
  border-radius: 5px;
}

.main-container {
  background: rgba(0, 0, 0, .6);
  padding: 10px;
  margin-top: 10px !important;
  border-radius: 5px;
  text-align: left !important;
}

.menus-container {
  text-align: right;
  margin-top: 40px !important;
}

.btn-primary {
  background: rgba(255, 127, 80, 1) !important;
  border: none !important;
}

.vacinee-container {
  color: #444;
  background: #fff;
  text-align: left;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px !important;
}

.modal-dialog {
  color: #444 !important;
}

.vaccinee-action-bts-container {
  float: right;
}